iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: $white;

.tema-1 .tarjeta.color-acento-contenido 
    background-color: $white

.tema-1 .tabs-a__tab     
  background-color: #EAAD9B !important

.tema-1 .tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #847B60 !important  

.tema-2 .linea-tiempo-b.color-secundario .linea-tiempo-b__icon 
  background-color: #FFDDAE;

.tema-2 .pasos-a.color-secundario .pasos-a__circle div
  color: $white


.tema-2 .bloque-texto-b.color-secundario:before 
    background-color: #FFD2C6;

.tema-2 .bloque-texto-b i     
  color: #EA8061 !important

.tema-2 .cajon.color-secundario 
  background-color: #FFF6F4 !important

.modal-a__content
  width: 60% !important

.tema-2-num
  width: 27px
  height: 27px

.tema-2 .tarjeta.color-acento-contenido 
    background-color: #E3E5DC;

.tema-3 .lista-ol--cuadro__vineta 
  background-color: #847B60;

.tema-2 .cajon-b.color-primario:before 
  background-color: #EFF2DE !important
  opacity: 1;

.tema-2 .cajon-b.color-secundario:before
  background-color: #FEE7C5 !important
  opacity: 1;

.lista-ul--color li > i:first-of-type 
  color: #F7724A !important

.intro .cajon-b.color-primario:before 
  background-color: #FFECE6 !important
  opacity: 1
  bottom: 0%
  right: 70%

.tema-2.div-LineaTiempoB 
  background-color: #FFF7F5 !important


.texto-adorno
  width: fit-content
  position: relative
  &:before
    content: url(../assets/curso/tema1/img10.svg)
    position: absolute
    top: -30%
    right: -10%
    width: 90px
    height: 83px

.bg--2 
    background-color: #F0D5AD !important;

.tema-1-tiempo1 .linea-tiempo-d__item__dots:after    
    border-left: 5px dotted #F7724A;

.tema-1-tiempo1 .linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: transparent !important;

.tema-1-tiempo1 .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  color: white

.tema-1-tiempo1 .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #BEBBAA

.tema-1-tiempo1 .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title     
  background-color: #F7724A;

.fondo-linea1
  background-color: #FFE8E2

.pasos-a.color-acento-contenido .pasos-a__circle div 
    color: white;


.tema2-fondo-1
  background-image: url("../assets/curso/tema2/img20.svg")  
  background-repeat: no-repeat
  background-size: contain

.tema2-fondo-2
  background-image: url("../assets/curso/tema2/img21.svg")  
  background-repeat: no-repeat
  background-size: contain

.tema-2.cajon1.cajon-b.color-primario:before 
    background-color: #E4E5DE;
    opacity: 1;

.tema-2.cajon2.cajon-b.color-primario:before 
    background-color: #FEE7C5;
    opacity: 1;

  




  





